.cipd
.git
.gclient
.gclient_entries
.python-version
build
depot_tools
dist
docs/html
go/example/example
python/docs
python/example/*.pyc
python/test/*.pyc
python/v8eval/*.pyc
python/v8eval/*.so
ruby/.yardoc
ruby/doc
ruby/ext/v8eval/*.o
ruby/lib/v8eval
ruby/Gemfile.lock
test/googletest
uv
v8
Dockerfile
MANIFEST
